body {
  box-sizing: border-box;
  font-size: 55px;
  margin: 0;
}

/* header start */

.container {
  margin: 0 10%;
}

#navbar > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
}

.flex-container-header {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 60px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#logo {
  width: 50px;
}

.title-logo {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title-container {
  background-image: url(../assets/img/header/background_header.png);
  background-size: cover;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  color: #fff7d1;
  font-family: Jost;
  font-size: 0.6em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

h2 {
  color: #e2d8a5;
  font-family: Jost;
  font-size: 0.6em;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

.title-description {
  color: #ffd09b;
  text-shadow: 2px 2px 4px black;
  font-family: Jost;
  font-size: 0.6em;
  font-weight: 500;
  text-align: center;
}

.title-name {
  font-weight: 800;
  margin: 0;
}

.title-description > p {
  margin: 0;
}

@media (min-width: 1200px) {
  h1 {
    display: flex;
    flex-wrap: wrap;
    color: #fff7d1;
    font-family: Jost;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }

  h2 {
    color: #e2d8a5;
    font-family: Jost;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }

  .title-description {
    color: #ffbd9b;
    text-shadow: 2px 2px 4px black;
    font-family: Jost;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
  }
}

@media (max-width: 400px) {
  h1 {
    display: flex;
    flex-wrap: wrap;
    color: #fff7d1;
    font-family: Jost;
    font-size: 0.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }

  .title-description {
    color: #ffbd9b;
    text-shadow: 2px 2px 4px black;
    font-family: Jost;
    font-size: 0.5em;
    font-weight: 500;
    text-align: center;
  }
}

/* style navbar toggler depends of monitor */
.show-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  list-style: none;
}

.hidden {
  display: none;
}

.navbar-toggler {
  display: flex;
  justify-content: flex-start;
}
/* style toggler end */

/* header end */

/* about start */
#about{
  margin-top: 30px;
}
.subtitle-about{
  text-align: center;
  color: #e2d8a5;
  text-shadow: 1px 1px 2px black;
  margin: 0;
}

.description-about{
  font-size: .6em;
}

.flex-container-about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.show-img {
  width: 90%;
  height: auto;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.prev {
  left: 0;
  transform: translateX(100%);
}
button.next {
  right: 0;
  transform: translateX(-100%);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
/* about end */
